.i {
font-size: larger;
margin: auto;
width: 300px;
margin-top: -30px;
margin-bottom: 50px;
}

.h {
  font-size: larger;
  margin: auto;
  width: px;
  margin-top: -30px;
  margin-bottom: 50px;
  
  }
  .c {
    font-size: larger;
    margin: auto;
    width: px;
    margin-top: 0px;
    margin-bottom: 0px;
    
    }


.content {
  max-width: 800px;
  margin: auto;
  background: linear-gradient(-45deg, #d8d9e2, #c7c5f0, #cfcbe7, #9d99f2);
  padding: 150px;
  text-align: center;
  
}

h3 {
  display: block;
  font-size: 1em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  text-align: center;
 
}

.devicon-django-plain {
  font-size: 5rem
}
.devicon-bootstrap-plain{
  font-size: 5rem
}
.devicon-ruby-plain{
  font-size: 5rem
}
.devicon-javascript-plain{
  font-size: 5rem
}
.devicon-python-plain{
  font-size: 5rem
}
.devicon-java-plain{
  font-size: 5rem
}
.devicon-cplusplus-plain{
  font-size: 5rem
}
.devicon-typescript-plain{
  font-size: 5rem
}
.devicon-csharp-plain{
  font-size: 5rem
}
.devicon-docker-plain{
  font-size: 5rem
}