* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
nav {
  height: 70px;
  display: flex;
  align-items: center;
  padding: 20px 40px;
}
.nav--icon {
  height: 30px;
  margin-right: 7px;
}

.nav-container {
  display: flex;
  justify-content: space-evenly;
  background-color: #ffffff !important;
}
