.color {
  background: linear-gradient(-45deg, #716764, #8fae9b, #e7b4b42a, #7423e5d4);
  background-size: 400% 400%;
}
.color2 {
  background: linear-gradient(-45deg, #716764, hsl(141, 49%, 73%), #ebb1b12a, #ce6ff3);
  background-size: 400% 400%;
}
