/* * {
  font-size: 15px;
}

h1 {
  font-size: 60px;
}

.cardsContainer {
  margin-top: 90px;
  margin-left: 270px;
  padding: 15px;
  width: 80%;
  border-style: solid;
  border-color: black;
  display: flex;
  justify-content: space-between;
}

.userCards {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: white;
  border-radius: 16px;
  height: 100%;
  box-shadow: 10px 5px 8px 10px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 10px;
}

.userInfo,
p {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

p {
  height: max-content;
  width: fit-content;
  font-size: 12px;
  text-align: center;
  justify-content: center;
  background-color: rgb(227, 235, 242);
  padding: 10px;
}

.buttonContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

button {
  height: 30px;
  width: 50px;
  font-size: 9px;
  color: white;
  font-weight: bold;
  background-color: #1f74de;
  border-style: none;
  border-radius: 20px;
}

button:hover {
  background-color: orange;
}

img {
  margin-top: 10px;
  height: 75px;
  border-radius: 50%;
} */
